* {
    font-family: 'Nunito', sans-serif;
}

.eventsBar {
    background-color: black;
    height: 100px;
    padding: 10px 40px;
}

.col-md-2 {
    padding: 0 3px;
}

.btn {
    font-size: 12px;
}

.dropdown-item {
    font-size: 12px;
}

.btn-secondary {
    color: black;
    background-color: white;
    border-color: black;
}

.card{
    background-image: url('../images/tech.png');
    text-align: center;
    font-size: 10px;
    height: 36px;
    padding-bottom: 80px;
    margin: 0px;
}

.EventName {
    color: black;
    text-shadow: #fff 0px 0px 1px ;
    font-size: 13px;
}

.btn-primary {
    background-color: #970203;
    border-color: black;
    font-size: 10px;
}

/* navbar design */
ul.nav {
    border: 1px solid black;
    background-color: #970203;
    padding: 15px;
}

a {
    color: white;
}

.mainContent {
    height: 800px;
}

.leftContent, .rightContent {
    padding: 80px;
}

.leftContent:hover {
    background-color: silver;
}

.rightContent:hover {
    background-color: lightblue;
}
