* {
    font-family: 'Nunito', sans-serif;
}
.eventsBar {
    background-color: black;
    height: 100px;
    padding: 10px 40px;
}
.col-md-2 {
    padding: 0 3px;
}
.btn {
    font-size: 12px;
}
.dropdown-item {
    font-size: 12px;
}
.btn-secondary {
    color: black;
    background-color: white;
    border-color: black;
}
.card{
    background-image: url('../images/tech.png');
    text-align: center;
    font-size: 10px;
    height: 36px;
    padding-bottom: 80px;
    margin: 0px;
}
.EventName {
    color: black;
    text-shadow: #fff 0px 0px 1px ;
    font-size: 13px;
}
.btn-primary {
    background-color: #970203;
    border-color: black;
    font-size: 10px;
}
/* navbar design */
ul.nav {
    border: 1px solid black;
    background-color: #970203;
    padding: 15px;
}
a {
    color: white;
}
.mainContent {
    height: 600px;
}
h3 {
    padding: 30px 10px;
}
.leftContent, .rightContent {
    height: 600px;
    background-color: black;
    padding: 80px;
    color: white;
}
.leftContent:hover {
    background-color: rgba(228, 228, 228, 0.2);
    transition: all 0.8s ease;
    color: black;
}
.rightContent:hover {
    background-color: rgba(228, 228, 228, 0.716);
    transition: all 0.8s ease;
    color: black;
}
 .showme { 
   display: none;
 }
 .showhim:hover .showme{
   display : block;
 }
 .wordC:hover {
     color: lightblue;
 }
 #map {
    width: 100%;
    height: 700px;
    background-color: grey;
  }
  .name{
    padding-left: 400px;
}
.submitbtn{
    position: fixed;
    margin-bottom: 30px;
    margin-left: 1051px;
}
.footer{
    height: 150px;
}
.container1{
    margin-left:  488px;
    margin-top: 30px;
    
    }
.Copyright{
    position: fixed;
    padding-left: 10px;
}

.bl{
	position: absolute;
	padding: 70px 0;
	
}

.blogText {
color: lightblue;
}

.instaCont {
    padding: 30px;
}

.blogCont {
    padding: 50px;
}